body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.sidebar {
    background-color: #343a40;
    color: #fff;
    padding-left: 10px;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 270px;
    z-index: 999;
    transition: transform 0.3s ease;
}

.sidebar.active {
    transform: translateX(-250px);
}

.sidebar .logo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-left: 60px;
    
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar a {
    display: block;
    padding: 8px;
    text-decoration: none;
    color: #fff;
    transition: background-color 0.3s;
}

.sidebar a:hover {
    background-color: #525252;
}

.sidebar a.active {
    background-color: #FC832B;
}

.content {
    padding: 20px;
}

.sidebar-toggle {
    display: block;
    background-color: #343a40;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    cursor: pointer;
    font-size: 24px;
    width: 50px;
    height: 50px;
    line-height: 50px;
}
.sidebar-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 270px;
    padding-left: 10px;
    background-color: #343a40;
    color: #fff;
}

@media (min-width: 992px) {
    .sidebar {
        transform: translateX(0);
    }

    .sidebar-toggle {
        display: none;
    }
}